h1 {
color: blue;
text-align: center;
}
img{
   float: center;
   width: 20%;
   background-color: blue;
   padding-top: 10px;
   margin-top: 10px;
 }
  h1 {
    color: #8C001A ;
    font-weight: bolder;
    text-align: left;
    background: lightgray;
  }

.myname {
   margin-top: 10px;
   margin-bottom: 10px;

}
p {
font-family: sans-serif;
}
ol {
line-height: 50px;
}
h1 {
color: #0000ff;
}
@media screen and (min-width: 400px) {
    body {
        background-color: green;
        color: white;
    }
}
@media screen and (min-width: 400px) and (max-width: 500px) {
    body {
        background-color: black;
        color: black;
    }
}
